.navbar{
    height: 100px;
}

.dettagli{
    background-color: #1abc9c;
    color: #fff;
}

.dettagli_footer_top{
    background-color:#3a546d;
    color: #fff;
}

.dettagli_footer_bottom{
    background-color:#2c3e50;
    color: #fff;
}

.col_blue{
    background-color:blue;
} 

.img{
    max-width: 230px;
    margin: 0 auto;
}

.b_radius{
    border-radius: 10px;
}

.center{
    justify-content:center
}

.p_con_link a
{
    color: #279087;
    text-decoration: none;
}